<form [formGroup]="personForm" (ngSubmit)="OnSubmit()">
    <div class="row justify-content-center mt-5 mb-3">
        <div class="col-4">
            <div class="form-group">
                <label>First Name: </label>
                <input class="form-control" type="text" formControlName="firstName">
                <small class="text-danger"
                    *ngIf="personForm.get('firstName')?.invalid && personForm.get('firstName')?.touched">
                    First name is required!
                </small>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mb-3">
        <div class="col-4">
            <div class="form-group">
                <label>Middle Name: </label>
                <input class="form-control" type="text" formControlName="middleName">
            </div>
        </div>
    </div>
    <div class="row justify-content-center mb-3">
        <div class="col-4">
            <div class="form-group">
                <label>Last Name: </label>
                <input class="form-control" type="text" formControlName="lastName">
                <small class="text-danger"
                    *ngIf="personForm.get('lastName')?.invalid && personForm.get('lastName')?.touched">
                    Last name is required!
                </small>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mb-3">
        <div class="col-4">
            <div class="form-group">
                <label>Maiden Name: </label>
                <input class="form-control" type="text" formControlName="maidenName">
            </div>
        </div>
    </div>
    <div class="row justify-content-center mb-3">
        <div class="col-4">
            <select class="form-select form-select-lg mb-3" formControlName="parent1ID">
                <option selected>Parent 1</option>
                <option *ngFor="let person of people" [value]="person.personID">{{person.name}} ({{person.dates}})
                </option>
            </select>
        </div>
    </div>
    <div class="row justify-content-center mb-3">
        <div class="col-4">
            <select class="form-select form-select-lg mb-3" formControlName="parent2ID">
                <option selected>Parent 2</option>
                <option *ngFor="let person of people" [value]="person.personID">{{person.name}} ({{person.dates}})
                </option>
            </select>
        </div>
    </div>
    <div class="row justify-content-center mb-3">
        <div class="col-4">
            <div class="form-check form-switch">
                <label class="form-check-label">Date of Birth Unknown</label>
                <input class="form-check-input" type="checkbox" formControlName="dobNotKnown">
            </div>
        </div>
    </div>
    <div class="row justify-content-center mb-3">
        <div class="col-4">
            <div *ngIf="personForm.get('dobNotKnown')?.value; else noDateOfBirth">
                <div class="form-group">
                    <label>Year of Birth: </label>
                    <input class="form-control" type="number" formControlName="yearOfBirth">
                </div>
            </div>
            <ng-template #noDateOfBirth>
                <div class="form-group">
                    <label>Date of Birth: </label>
                    <input class="form-control" type="date" formControlName="dateOfBirth">
                </div>
            </ng-template>
        </div>
    </div>
    <div class="row justify-content-center mb-3">
        <div class="col-4">
            <div class="form-check form-switch">
                <label class="form-check-label">This person is still alive</label>
                <input class="form-check-input" type="checkbox" formControlName="isAlive">
            </div>
        </div>
    </div>
    <div class="row justify-content-center mb-3" *ngIf="!personForm.get('isAlive')?.value">
        <div class="col-4">
            <div class="form-check form-switch">
                <label class="form-check-label">Date of Death Unknown</label>
                <input class="form-check-input" type="checkbox" formControlName="dodNotKnown">
            </div>
        </div>
    </div>
    <div class="row justify-content-center mb-3" *ngIf="!personForm.get('isAlive')?.value">
        <div class="col-4">
            <div *ngIf="personForm.get('dodNotKnown')?.value; else noDateOfDeath">
                <div class="form-group">
                    <label>Year of Death: </label>
                    <input class="form-control" type="number" formControlName="yearOfDeath">
                </div>
            </div>
            <ng-template #noDateOfDeath>
                <div class="form-group">
                    <label>Date of Death: </label>
                    <input class="form-control" type="date" formControlName="dateOfDeath">
                </div>
            </ng-template>
        </div>
    </div>
    <div class="row justify-content-center mb-3">
        <div class="col-4">
            <div class="form-group">
                <label>Notes: </label>
                <textarea class="form-control" rows="6" formControlName="notes"></textarea>
            </div>
        </div>
    </div>
    <div formArrayName="marriageList">
        <div *ngFor="let listOfItemsCtrl of controls; let i = index" [formGroupName]="i">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <select class="form-select form-select-lg mb-3" formControlName="personID">
                            <option selected>Partner</option>
                            <option *ngFor="let person of people" [value]="person.personID">{{person.name}} ({{person.dates}})
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row justify-content-center mb-3">
                    <div class="col-4">
                        <div class="form-check form-switch">
                            <label class="form-check-label">Start Date Unknown</label>
                            <input class="form-check-input" type="checkbox" formControlName="startDateNotKnown">
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mb-3">
                    <div class="col-4">
                        <div *ngIf="listOfItemsCtrl.get('startDateNotKnown')?.value; else noStartDate">
                            <div class="form-group">
                                <input type="number" class="form-control" id="startYear" placeholder="Enter Year"
                                    name="startYear" formControlName="startYear" />
                            </div>
                        </div>
                        <ng-template #noStartDate>
                            <div class="form-group">
                                <input type="date" class="form-control" id="startDate" placeholder="Enter Date"
                                    name="startDate" formControlName="startDate" />
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
            <button class="btn btn-danger" type="button" (click)="onDelete_marriageList(i)">
                Delete Marriage
            </button>
        </div>
        <button class="btn btn-info" (click)="onAdd_marriageList()" type="button">
            Add Marriage
        </button>
    </div>

    <div class="row justify-content-center">
        <div class="col-4 text-end">
            <button class="btn btn-primary" type="submit" [disabled]="personForm.invalid">Submit</button>
        </div>
    </div>
</form>